<div id='messages-nav'>
	<%%= link_to "Inbox", <%= user_singular_lower_case %>_<%= message_plural_lower_case %>_path(@current_user) %> |
	<%%= link_to "Compose", new_<%= user_singular_lower_case %>_<%= message_singular_lower_case %>_path(@current_user) %>
</div>

<%%= form_tag <%= user_singular_lower_case %>_<%= message_plural_lower_case %>_path(@current_user) do %>
<div id='recipients'>
</div>
<p>
	To:<br />
	<%%= message_input_field 'to', 'text_field', @user_input, @errors %>
	<%%= link_to 'Add Recipient', '#', :onclick => 'addRecipient();' %>
</p>
<p>
	Subject:<br />
	<%%= message_input_field 'subject', 'text_field', @user_input, @errors %>
</p>
<p>
	Message:<br />
	<%%= message_input_field 'body', 'text_area', @user_input, @errors %>
</p>
<p>
	<%%= submit_tag "Send" %>
</p>
<%% end %>

<script type="text/javascript">
function addRecipient() {
	var recipient_id = $('#message_to').val();
	$('#message_to').val('');
	$('#recipients').append("<input name='message[recipients_ids][]' type='hidden' value=" + recipient_id + ">");
}
</script>
