<p><strong>From:</strong> <%%= @<%= message_singular_lower_case %>.sender == @user ? link_to("You", user_path(@user)) : link_to(h(@<%= message_singular_lower_case %>.sender.login), user_path(@user)) %></p>
<p><strong>Received:</strong> <%%= @<%= message_singular_lower_case %>.created_at.to_s(:long) %></p>
<p><strong>To:</strong> <%%= @<%= message_singular_lower_case %>.recipient == @user ? link_to("You", user_path(@user)) : link_to(h(@<%= message_singular_lower_case %>.recipient.login), user_path(@user)) %></p>
<p>
	<strong>Message</strong><br />
	<%%= @<%= message_singular_lower_case %>.body %>
</p>
<p>
	<%% if @<%= message_singular_lower_case %>.recipient == @user %>
		<%%= link_to "Reply", new_user_<%= message_singular_lower_case %>_path(@user, :reply_to => @<%= message_singular_lower_case %>) %> |
	<%% end %>
	<%%= link_to "Inbox", user_<%= message_plural_lower_case %>_path(@user)%>
</p>