<h2>Sent</h2>
<table>
	<tr>
		<th>Delete?</th>
		<th>Subject</th>
		<th>To</th>
		<th>Sent at</th>
	</tr>
	<%% if @<%= message_thread_plural_lower_case %>.size == 0 %>
		<tr>
			<td colspan="4">
				No messages
			</td>
		</tr>
	<%% else %>
		<%% for <%= message_thread_singular_lower_case %> in @<%= message_thread_plural_lower_case %> %>
			<tr>
				<td><%%= check_box_tag "delete[]", <%= message_thread_singular_lower_case %>.id %></td>
				<td><%%= link_to h(<%= message_thread_singular_lower_case %>.subject), user_<%= message_singular_lower_case %>_path(@current_user, <%= message_thread_singular_lower_case %>) %></td>
  			<td><%%= display_thread_recipients <%= message_thread_singular_lower_case %> %></td>
			  <td><%%= <%= message_thread_singular_lower_case %>.last_message.created_at.to_s(:long) %></td>
			</tr>
		<%% end %>
		<tr>
			<td colspan="4">
				<%%= submit_tag "Delete" %>
			</td>
		</tr>
 	<%% end %>
</table>
<%%= link_to "Inbox", <%= user_singular_lower_case %>_<%= message_plural_lower_case %>_path(@current_user)%>