<%% form_for @<%= message_singular_lower_case %>, :url => user_<%= message_plural_lower_case %>_path(@user) do |f| %>
<p>
	To:<br />
	<%%= f.text_field :to %>
	<%%= error_message_on @<%= message_singular_lower_case %>, :to %>
</p>
<p>
	Subject:<br />
	<%%= f.text_field :subject %>
	<%%= error_message_on @<%= message_singular_lower_case %>, :subject %>
</p>
<p>
	Message<br />
	<%%= f.text_area :body %>
	<%%= error_message_on @<%= message_singular_lower_case %>, :body %>
</p>
<p>
	<%%= submit_tag "Send" %>
</p>
<%% end %>